footer{
    div{
        h3{
            padding: 10rem 0.5rem;
        }
    }
    div{
        div{
            div{
                a{
                    
                    i{
                        color: yellow;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}